.image2{
    width: 120px;
    background-color: white;
    margin-left: 10%;
    margin-top: 30%;
    height: 130px;
}
.header2{
    background: #3555aa;
    display: flex;
}
.name2{
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 30px;
}
.compareBody{
    border: solid 1px; width: 50%;
}
.scholarname{
    margin-top: 10%;
}
.describe{
    margin-top: 3%;
    margin-left: 8%;
    color: #ababab;
    width: 100%;
}
.scholarid{
    margin-top: 10px;
}
.scholarmajor{
    margin-top: 10px;
}
.comparenum{
    margin-top: 10px;
}
.comparehr{
    margin: 0px;
    border: solid 2px;
    color: black;
}
.compareitems{
    background-color: #f6f7fb;
}
.relationet{
    width: 100%;
    height: 100px;
}
.itemsfont{
    margin-left: 3%;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.swap{
    float: right;
    margin-right: 10px;
}
.personalpaint{
    width: 100%;
    height: 100px;
    background-color: #f6f7fb;
}
.datavisual{
    width: 100%;
    height: 200px;
    background-color: #f6f7fb;
}
.achivement{
    width: 100%;
    height: 650px;
    background-color: #f6f7fb;
    display: none;
}
.cooperate{
    width: 100%;
    height: 450px;
    background-color: #f6f7fb;
    display: none;
}
.partner{
    width: 100%;
    height: 980px;
    background-color: #f6f7fb;
    display: none;
}
.subject{
    width: 100%;
    height: 100px;
    background-color: #f6f7fb;
    display: none;
}
.meeting{
    width: 100%;
    height: 400px;
    background-color: #f6f7fb;
    display: none;
}
.comparelabel{
    margin-left: 30px;
    margin-top: 20px;
}
.confirm{
    margin-left: 65%;
    margin-top: 20px;
}