.inputcontainer{
    /*background-image:url("../images/scholar.jpg");*/
    /*background-repeat: no-repeat;*/
    background: #3555aa url("../images/scholar.jpg") no-repeat center center;
    width: 100%;
    height: 402px;
    /*background-position-x: -380px;*/
    /*background-position-y: -82px;*/
    /*margin-top: 10px;*/
}
.head{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}
.headimage{
    width: 55%;
    height: 60px;
    padding: 0 40px;
    float: left;
}
.headimage img{ height: 100%; text-align: center;margin-top:0.7%;margin-left: 25.6%}

.headtip
{
    height: 76px;
    padding: 0 20px;
    float: left;
    margin-top: 1.7%;
    margin-left: 10%
}

.btn-info{
    margin-left: 30px;
    margin-top: 15px;
}
.input1{
    width: 40%;
    height: 45px;
    margin-top: 3%;
}
.btnfeedback{
    margin-top: 20px;
    margin-left: 500px;
}
.btnsearch{
    height: 45px;
    margin-top: -5px;
    width: 80px;
    /* margin-left: -2px; */
    margin-left: 2px;
}
.select{
    margin-left: 25%;
    height: 45px;
}
.globalid
{
    width: 20%;
    height: 50%;
    margin-left: 30%;
}
.globalid img
{
    margin-top: 40%;
    height: 73px;
    margin-left: 31%;
}

.schoolhead{
    display: inline-flex;
}
.schoolheadimage{
    width: 50px;
    height: 40px;
    margin-top: 10px;
}
.schoolheadtitle{
    margin-left: 10px;
}
.inner{
    width: 80%;
    border: 5px solid #0076b1;
    margin-left: 10%;
    margin-top: 20px;
}
.record{
    margin-left: 30%;
    margin-top: 10px;
}
.recordname{
    text-decoration: none;
    margin-left: 13px;
    font-size: 14px;
    color: #c4c4c4;
}

.my-btn
{
    padding: 0 30px; height: 30px; line-height: 30px;
    background: #69bcff;
    color: #fff!important; text-align: center; font-size: 14px;
    display: block;
}
.my-btn
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.my-btn:hover{background: #69bcff; color: #fff;text-decoration: none}

.foot{
    border-top:1px solid #eee;
    border-bottom:0px solid #299fff;
    width: 100%;
    margin-top: 1%;
}
.foot-title
{
    padding-top: 20px;
    font-size: 24px;
    margin-left: 16.4%;
}
.foot-context
{
    float: left;
    width: 33%;
    height: 10%;
    margin-left: 16.5%;
}
.foot-context p
{
    font-size: 12px;
    padding-right: 6%;
    padding-top: 8%;
    color:#ababab;
}

.foot-box{
    width: 8%;
    height: 122px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    float: right;
    margin-bottom: 5%;
    margin-right: 15%;
}
.foot-box img
{
    width: 100%;
    padding: 5px;
}
.foot-box p
{
    color: #299fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.box1200{ width: 100%; padding: 0 20px; }

.btn-top
{
    width: 46px;
    height: 46px;
    line-height: 46px;
    background: #299fff;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #fff; display: block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.btn-top img{height: 80%;}
.compareDialog{
    padding: 40px;
}
.compareDialogInput1{
    width: 100px;
}
.compareDialogInput2{
    width: 180px;
}
.compareDialogInput3{
    width: 180px;
}
.addone{
    margin-left: 68.5%;;
    margin-top: 10px;
}
.Dialogdiv{
    margin-top: 10px;
}
/*.span_minus:before{*/
/*  content: "Ôºç";*/
/*}*/
/*.span_plus:before{*/
/*  content: "+";*/
/*}*/

@font-face {
  font-family: "panelfont logo";
  src: url(../fonts/panelfont.eot);
  src:
    url(../fonts/panelfont.woff) format('woff'),
    url(../fonts/panelfont.ttf) format('truetype');
}


.panelfont {
    font-family: 'panelfont logo', serif;
    font-size: 29px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-upArrow:before {
  content: "\e610";
}

.panel-downArrow:before {
  content: "\e670";
}

#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after
{
    content: "\e670";
    font-family: panelfont logo, serif;
    font-size: 29px;
    line-height: 0px;
}
#accordion .panel-title a.collapsed:after{ content: "\e610"; }