.my-table tr th, .my-table tr td {
    padding: 10px;
    color: #3555aa;
    font-size: 16px;
}
#datatypeselectbtn1{
    margin-left: 10%;
}
#datatypeselectbtn2{
    margin-left: 10%;
}
#datatypeselectbtn3{
    margin-left: 10%;
}
#datatypeselectbtn4{
    margin-left: 10%;
}