<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学者发现系统反馈页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 设置页面上下居中-->
    <style>
        .height-center{
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    </style>
</head>
<body>

{% block content %}
<div class="container-fluid" >
<!-- 页面左右居中显示-->
    <div class="height-center col-lg-4 col-lg-offset-4  col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 " >
<!-- bootstrap面板-->
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h3 class="panel-title">感谢您的反馈！</h3>
        </div>
        <div class="panel-body">
<!-- 反馈表单-->
            <form role="form" action="/handlefeedback" method="post">
                <div class="form-group">
                    <label for="name">学者姓名</label>
<!-- 实现鼠标点击input框中placeholder内容消失-->
                    <input type="text" class="form-control" id="fscholar_name" name="name"
                           placeholder="请输入您要反馈的学者姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您要反馈的学者姓名'">
                </div>
                <div class="form-group">
                    <label for="school">学术机构</label>
                    <input type="text" class="form-control" id="fscholar_school" name="school"
                           placeholder="请输入您要反馈学者的所在学术机构" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您要反馈学者的所在学术机构'">
                </div>
                <div class="form-group">
		        <label for="name">反馈类型</label>
<!-- 下拉单选菜单-->
		        <select class="form-control" id="type" name="type">
                    <option>学者基本信息有误</option>
                    <option>科研成果信息有误</option>
                    <option>我想提供更多信息</option>
                    <option>网站系统有BUG</option>
                    <option>其他</option>
		        </select>
	            </div>
                <div class="form-group">
                    <label for="content">反馈内容（必填）</label>
<!-- required 设置必填属性-->
                    <textarea class="form-control" id="content" rows="4" name="content" required placeholder="请输入您的反馈内容" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的反馈内容'"></textarea>
                </div>

                <div class="form-group">
                    <label for="email">联系方式</label>
<!-- input类型为email,可以自动进行格式检查-->
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="请输入您的Email地址" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的Email地址'">
                    <span class="help-block">若您选择接收反馈结果，我们会在三个工作日内以邮件的方式及时向您告知</span>
                </div>
<!-- 勾选框-->
                <div class="checkbox">
<!-- 返回str类型，选中返回"on"，未选中返回"None"-->
                    <label>
                        <input type="checkbox" name="receive" id="receive"> 接收反馈结果
                    </label>
                </div>
                <button type="submit" id="feedbackbt" class="btn btn-default" style="display:block;margin:0 auto" onclick="return isvalid()">提交反馈</button>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock %}
<!--反馈自动化 接收scholarinfo传来的值 3.6 bwm -->
<script language="javascript" type="text/javascript">
    //获取scholarinfo传过来的值
    var content = JSON.parse(localStorage.getItem("info"));
    if(content){
        document.getElementById("fscholar_name").value = content.scholar_name1;
        document.getElementById("fscholar_school").value=content.scholar_school1;
    }
</script>
<!--检测勾选框内容，如果勾选了接收反馈但联系方式为空将会给出提示 -->
<script>
    var email = document.getElementById('email');
    var receive = document.getElementById('receive');
    var oBtn = document.getElementById('feedbackbt');
    function isvalid() {
        if(receive.checked==true){
            var str=email.value;
            if(str == '' || str == undefined || str == null){
                alert("请填入联系方式");
                return false
            }
        }
    }

</script>

</body>
</html>