<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学者发现系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="head">
        <div><image class="headimage" src="../static/images/logo.png"></image></div>
        <div><button type="button" class="btn btn-info btn-default">联系我们</button></div>
    </div>
    <div class = "inputcontainer">
        <div class="input">
            <input type="text" class="input1" placeholder="学者名：中英文名（必填）">
            <button type="button" class="btn btn-info btn-default btnsearch">搜索</button>
        </div>
    </div>

</body>
</html>