<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学者发现系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="../static/layer/layer.js" ></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/china.js"></script>
</head>
<body>
    <!--首页logo图片及反馈问题按钮 -->
    <div class="head">
        <div class="headimage">
            <a href="/">
                <img src="../static/images/left-logo.png" alt>
            </a>
        </div>
        <div class="headtip" style="display:flex;">
            {% if not current_user.is_authenticated %}
                <a class="my-btn" href="#" title="学者对比" id="compare">学者对比</a>
                <a class="my-btn" href="feedback" title="点击反馈" style="margin-left: 10px">反馈问题</a>
                <a class="my-btn" href="{{ url_for('security.login') }}" style="margin-left: 10px">管理员登录</a>
            {% else %}
                    <a class="my-btn" href="#" title="学者对比" id="compare">学者对比</a>
                    <a class="my-btn" href="/admin/feedback" title="查询反馈内容" style="margin-left: 10px">管理员身份已登录</a>
                    <a class="my-btn" href="{{ url_for('security.logout') }}" title="注销" style="margin-left: 10px">注销</a>
            {% endif %}
        </div>
    </div>
    <div class = "inputcontainer">
        <!--按类型搜索学者信息 -->
        <div class="globalid">
            <img src="../static/images/globalID.png" alt>
        </div>
        <div class="input">
            <!--关键词输入框-->
            <div style="display: block" id="soso1"> <!--普通搜索框 第一个div-->
                <!--搜索类型-->
                <select name="search_type" class="select" id="select_type">
                    <option value="1">学者姓名</option>
                    <option value="2">学者专业</option>
                    <option value="3">学者学校</option>
                    <option value="4">研究方向</option>
                    <option value="6">论文搜索</option>
                </select>
                <input type="text" class="input1" placeholder="请输入关键字" id="data2search_result">
                <button type="button" id="searchbtn"  class="btn btn-info btn-default btnsearch">
                    <span class="iconfont icon-search pr10" aria-hidden="true">搜索</span>
                </button>
                <a id="advanced_soso1" class="font16" href="javascript:void(1)" style="color:black;text-decoration: none">高级搜索</a>
            </div>
            <div id="soso2" style="display: none"> <!--高级搜索框 第二个div-->
                <input type="text" class="input2" placeholder="请输入学者姓名" id="data2search_result1" style="margin-left: 30.5%">
                <input type="text" class="input2" placeholder="请输入学者工作机构" id="data2search_result2">
                <input type="text" class="input3" placeholder="请输入学者所在学院" id="data2search_result3">
                <button type="button" id="searchbtn2"  class="btn btn-info btn-default btnsearch" style="height: 40px">
                    <span class="iconfont icon-search pr10" aria-hidden="true">搜索</span>
                </button>
                <a id="advanced_soso2" class="font16" href="javascript:void(1)" style="color:black;text-decoration: none">高级搜索</a>
            </div>

        </div>
        <!--热门学者推荐-->
        <div class="record">
            <p>
                <span style="font-size: 14px;color: white">学者热搜</span>
                <a class="recordname" title="{{ searchresult[0][1] }}" href="scholarinfo?school={{ searchresult[0][1] }}&name={{ searchresult[0][0] }}&major={{ searchresult[0][2] }} ">{{ searchresult[0][0] }}</a>
                <a class="recordname" title="{{ searchresult[1][1] }}" href="scholarinfo?school={{ searchresult[1][1] }}&name={{ searchresult[1][0] }}&major={{ searchresult[1][2] }} ">{{ searchresult[1][0] }}</a>
                <a class="recordname" title="{{ searchresult[2][1] }}" href="scholarinfo?school={{ searchresult[2][1] }}&name={{ searchresult[2][0] }}&major={{ searchresult[2][2] }} ">{{ searchresult[2][0] }}</a>
                <a class="recordname" title="{{ searchresult[3][1] }}" href="scholarinfo?school={{ searchresult[3][1] }}&name={{ searchresult[3][0] }}&major={{ searchresult[3][2] }} ">{{ searchresult[3][0] }}</a>
                <a class="recordname" title="{{ searchresult[4][1] }}" href="scholarinfo?school={{ searchresult[4][1] }}&name={{ searchresult[4][0] }}&major={{ searchresult[4][2] }} ">{{ searchresult[4][0] }}</a>
                <a class="recordname" title="{{ searchresult[5][1] }}" href="scholarinfo?school={{ searchresult[5][1] }}&name={{ searchresult[5][0] }}&major={{ searchresult[5][2] }} ">{{ searchresult[5][0] }}</a>
                <a class="recordname" title="{{ searchresult[6][1] }}" href="scholarinfo?school={{ searchresult[6][1] }}&name={{ searchresult[6][0] }}&major={{ searchresult[6][2] }} ">{{ searchresult[6][0] }}</a>
                <a class="recordname" title="{{ searchresult[7][1] }}" href="scholarinfo?school={{ searchresult[7][1] }}&name={{ searchresult[7][0] }}&major={{ searchresult[7][2] }} ">{{ searchresult[7][0] }}</a>
                <a class="recordname" title="{{ searchresult[8][1] }}" href="scholarinfo?school={{ searchresult[8][1] }}&name={{ searchresult[8][0] }}&major={{ searchresult[8][2] }} ">{{ searchresult[8][0] }}</a>
            </p>
        </div>
    </div>
    <!--高校列表并分类展示-->
    <table width="100%" height="2" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="background-color: #f6f7fb">
                <div class="inner">
                    <div class="panel-group" id="accordion">
                        <!--985高校-->
                        <div class="panel" style="background-color: #f6f7fb">
                            <div class="panel-heading" id="collapseHeadingOne">
                                <div class="panel-title">
                                    <h3 class="schoolhead">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration: none">
                                            <img class="schoolheadimage" src="../static/images/china.png" alt>
                                            <span class="schoolheadtitle">中国985+研究所+港澳台</span>
                                        </a>
                                    </h3>
                                    <!--从字典里获取学校列表数据-->
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="schoolnames panel-body">
                                    <table class="table table-hover table-striped">
                                        {% for li_985 in list_985 %}
                                            {% if loop.index%5 == 0 %}
                                                <td style="width: 20%"> <a href="../Search_result?keyword={{ li_985 }}&type=3">{{ li_985 }}</a></td>
                                                <tr></tr>
                                            {% else %}
                                                <td style="width: 20%"><a href="../Search_result?keyword={{ li_985 }}&type=3">{{ li_985}}</a></td>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--211高校-->
                        <div class="panel" style="background-color: #f6f7fb">
                            <div class="panel-heading" id="collapseHeadingTwo">
                                <div class="schools panel-title">
                                    <h3 class="schoolhead">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="text-decoration: none">
                                            <img class="schoolheadimage" src="../static/images/china.png" alt>
                                            <span class="schoolheadtitle">中国211+其他</span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                                <!--字典列表读取，并使用jinja模板展示-->
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="schoolnames panel-body">
                                        <table class="table table-hover table-striped">
                                            {% for li_211 in list_211 %}
                                                {% if loop.index%5 == 0 %}
                                                    <td style="width: 20%"><a href="../Search_result?keyword={{ li_211 }}&type=3">{{ li_211 }}</a></td>
                                                    <tr></tr>
                                                {% else %}
                                                    <td style="width: 20%"><a href="../Search_result?keyword={{ li_211 }}&type=3">{{ li_211}}</a></td>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                        </div>
                        <!--国外高校US-->
                        <div class="panel" style="background-color: #f6f7fb">
                            <div class="panel-heading" id="collapseHeadingThree">
                                <div class="schools panel-title" >
                                    <h3 class="schoolhead">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="text-decoration: none">
                                            <img class="schoolheadimage" src="../static/images/US.png" alt>
                                            <span class="schoolheadtitle">U.S.</span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <!--字典列表读取，并使用jinja模板循环展示-->
                            <div id="collapseThree" class="panel-collapse collapse in">
                                 <div class="schoolnames panel-body">
                                     <table class="table table-hover table-striped">
                                         {% for li_us in list_us %}
                                             {% if loop.index%4 == 0 %}
                                                 <td style="width: 25%"><a href="../Search_result?keyword={{ li_us }}&type=3">{{ li_us }}</a></td>
                                                 <tr></tr>
                                             {% else %}
                                                 <td style="width: 25%"><a href="../Search_result?keyword={{ li_us }}&type=3">{{ li_us}}</a></td>
                                             {% endif %}
                                         {% endfor %}
                                     </table>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--3.10柏为民添加 首页底部的学者分布地图 -->
    <div id="map1" align="center" style="margin:0 auto 0 auto;">
        <div id="index_map1" align="center" style="margin:0 auto 0 auto;width: 800px;height: 600px;display: inline"></div>
    </div>
     <!--页面底部系统介绍-->
    <div class="foot">
            <div class="foot-title">
                高校学者发现系统
            </div>
            <div class="foot-context">
                <p>
                    高校学者发现系统是一款免费公开的用来查询学者信息的网站。在2.0版本中我们展示了国内外大量高校及科研机构的学者信息，包括其工作机构、研究领域、科研成果、学术关系网络、学者画像等。此外，我们还更新了反馈机制、学者分布地图、学者推荐功能、学者对比功能等，希望能为您提供更好的使用体验。</p>
            </div>
            <div class="foot-box">
                <p class="text-center">返回顶部</p>
                <a href="#top" class="btn-top">
                    <img src="../static/images/top.png" >
                </a>
            </div>
        <p style="margin-top: 10%; margin-left: 22%;" class="text-center">Copyright © 2020 CAU云中君开发团队</p>
    </div>
    <!--添加弹窗元素-->
    <div class="compareDialog" id="compareDialog" style="display: none">
        <div class="scholarInfoIinput" id="scholarInfoIinput">
            <div class="Dialogdiv">
                学者姓名：<input type="text" class="compareDialogInput1" id="nameinput">
                学者机构：<input type="text" class="compareDialogInput2" id="schoolinput">
                学者学院：<input type="text" class="compareDialogInput3" placeholder="非必填" id="collegeinput">
            </div>
        </div>
        <br>
        <button class="addone" id="addone">增加一个</button>
        <button class="startcompare" id="startcompare">开始对比</button>
    </div>
<!--3.10柏为民添加 首页底部的学者分布地图 -->
<script>
    // 此版本通过设置geoindex && seriesIndex: [1] 属性来实现geo和map共存，来达到hover散点和区域显示tooltip的效果
    // 默认情况下，map series 会自己生成内部专用的 geo 组件。但是也可以用这个 geoIndex 指定一个 geo 组件。这样的话，map 和 其他 series（例如散点图）就可以共享一个 geo 组件了。并且，geo 组件的颜色也可以被这个 map series 控制，从而用 visualMap 来更改。
    // 当设定了 geoIndex 后，series-map.map 属性，以及 series-map.itemStyle 等样式配置不再起作用，而是采用 geo 中的相应属性。
    // 并且加了pin气泡图标以示数值大小
    var name_title = "大陆地区高校学者分布情况";
    var subname = '数据来源于武书连2018年统计';
    var nameColor = " rgb(55, 75, 113)";
    var name_fontFamily = '等线';
    var subname_fontSize = 15;
    var name_fontSize = 18;
    var mapName = 'china';
    var data = [
        {name:"北京",value:56820},
        {name:"天津",value:19931},
        {name:"河北",value:32479},
        {name:"山西",value:22610},
        {name:"内蒙古",value:15172},
        {name:"辽宁",value:41118},
        {name:"吉林",value:26482},
        {name:"黑龙江",value:31410},
        {name:"上海",value:35444},
        {name:"江苏",value:58680},
        {name:"浙江",value:31625},
        {name:"安徽",value:29007},
        {name:"福建",value:23270},
        {name:"江西",value:26138},
        {name:"山东",value:57478},
        {name:"河南",value:46802},
        {name:"湖北",value:45705},
        {name:"湖南",value:32261},
        {name:"重庆",value:21097},
        {name:"四川",value:44096},
        {name:"贵州",value:14531},
        {name:"云南",value:18607},
        {name:"西藏",value:1518},
        {name:"陕西",value:39554},
        {name:"甘肃",value:15736},
        {name:"青海",value:2683},
        {name:"宁夏",value:3744},
        {name:"新疆",value:10881},
        {name:"广东",value:47822},
        {name:"广西",value:20351},
        {name:"海南",value:3949},
    ];
    var myChart = echarts.init(document.getElementById('index_map1'));
    var geoCoordMap = {};
    /*获取地图数据*/
    myChart.showLoading();
    var mapFeatures = echarts.getMap(mapName).geoJson.features;
    myChart.hideLoading();
    mapFeatures.forEach(function(v) {
        // 地区名称
        var name = v.properties.name;
        // 地区经纬度
        geoCoordMap[name] = v.properties.cp;

    });
    console.log(data);

    var max = 480,
        min = 9; // todo
    var maxSize4Pin = 100,
        minSize4Pin = 20;
    var convertData = function(data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
                res.push({
                    name: data[i].name,
                    value: geoCoord.concat(data[i].value),
                });
            }
        }
        return res;
    };
    option = {
        title: {
            text: name_title,
            subtext: subname,
            x: 'center',
            textStyle: {
                color: nameColor,
                fontFamily: name_fontFamily,
                fontSize: name_fontSize
            },
            subtextStyle:{
                fontSize:subname_fontSize,
                fontFamily:name_fontFamily
            }
        },

        visualMap: {
            show: true,
            min: 1000,
            max: 60000,
            left: 'left',
            top: 'bottom',
            text: ['高', '低'], // 文本，默认为数值文本
            calculable: true,
            seriesIndex: [1],
            inRange: {
                color: ['#00467F', '#A5CC82'] // 蓝绿
            }
        },
        geo: {
            show: true,
            map: mapName,
            label: {
                normal: {
                    show: false
                },
                emphasis: {
                    show: false,
                }
            },
            roam: true,
            itemStyle: {
                normal: {
                    areaColor: '#031525',
                    borderColor: '#3B5077',
                },
                emphasis: {
                    areaColor: '#2B91B7',
                }
            }
        },
        series: [{
            name: '散点',
            type: 'scatter',
            coordinateSystem: 'geo',
            data: convertData(data),
            symbolSize: function(val) {
                return val[2] / 3000;
            },
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                },
                emphasis: {
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#05C3F9'
                }
            }
        },
            {
                type: 'map',
                map: mapName,
                geoIndex: 0,
                aspectScale: 0.75, //长宽比
                showLegendSymbol: false, // 存在legend时显示
                label: {
                    normal: {
                        show: true
                    },
                    emphasis: {
                        show: false,
                        textStyle: {
                            color: '#fff'
                        }
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#031525',
                        borderColor: '#3B5077',
                    },
                    emphasis: {
                        areaColor: '#2B91B7'
                    }
                },
                animation: false,
                data: data
            },
            {
                name: '点',
                type: 'scatter',
                coordinateSystem: 'geo',
                symbol: 'pin', //气泡
                symbolSize: function(val) {
                    var a = (maxSize4Pin - minSize4Pin) / (max - min);
                    var b = minSize4Pin - a * min;
                    b = (maxSize4Pin - a * max)/300;
                    return a * val[2]/300 + b;
                },
                label: {
                    normal: {
                        formatter:function(obj){
                            var num=obj.data.value[2]/10000;
                            var z='万';
                            console
                                .log(num.toFixed(2));
                            return num.toFixed(2)+z;
                        },
                        show: true,
                        textStyle: {
                            color: '#fff',
                            fontSize: 9,
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#F62157', //标志颜色
                    }
                },
                zlevel: 6,
                data: convertData(data),
            },
            {
                name: 'Top 5',
                type: 'effectScatter',
                coordinateSystem: 'geo',
                data: convertData(data.sort(function(a, b) {
                    return b.value - a.value;
                }).slice(0, 5)),
                symbolSize: function(val) {
                    return val[2] / 3000;
                },
                showEffectOn: 'render',
                rippleEffect: {
                    brushType: 'stroke'
                },
                hoverAnimation: true,
                label: {
                    normal: {
                        formatter: '{b}',
                        position: 'right',
                        show: true
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'yellow',
                        shadowBlur: 10,
                        shadowColor: 'yellow'
                    }
                },
                zlevel: 1
            },

        ]
    };
    myChart.setOption(option);
    //3.11号柏为民添加，主要是点击某一省份后跳转
    myChart.on('click',function(param){
        var area_name=param.name;
        //alert(param.name); //弹出点击区域的省份名
        //alert(param.href="www.baidu.com");
        //alert(param.href="../Search_result?keyword="+param.name+"&type="+8);
        if(area_name!="云南"&&area_name!="贵州"&&area_name!="青海"&&area_name!="宁夏"&&area_name!="广西")
            window.open("../Search_result?keyword="+area_name+"&type="+8);
        else
            alert("抱歉，"+area_name+"地区暂无学者数据，我们会及时更新。");
    });
    window.onresize = function () {
        myChart.resize();
    }
</script>
<!--3.3号柏为民添加。主要是给button加上链接，即实现从首页搜索跳转到搜索结果-->
<!--3.6号柏为民添加。高级搜索功能-->
<SCRIPT LANGUAGE="JavaScript">
    $(function () {
        localStorage.clear();
        $(document).keydown(function (e) {

            if (e.keyCode === 13){
                var  myselect=document.getElementById("select_type").value;
                var css = $('#soso1').css("display");
                if(css == "none"){
                    var  myselect=7;
                    var keyword = document.getElementById("data2search_result1").value;
                    var keyword2 = document.getElementById("data2search_result2").value;
                    var keyword3 = document.getElementById("data2search_result3").value;
                    //alert(keyword2);
                    localStorage.value = keyword;
                    location.href = "../Search_result?keyword="+keyword+"&keyword2="+keyword2+"&keyword3="+keyword3+"&type="+myselect;
                }
                else{
                    var keyword = document.getElementById("data2search_result").value;
                    localStorage.value = keyword;
                    location.href = "../Search_result?keyword="+keyword+"&type="+myselect;
                }
            }
        });
        document.getElementById("searchbtn").onclick=function () {
            if(window.localStorage) {
                //这里是普通搜索功能。
                var  myselect=document.getElementById("select_type").value;
                var keyword = document.getElementById("data2search_result").value;
                localStorage.value = keyword;
                location.href = "../Search_result?keyword="+keyword+"&type="+myselect;
            }else{
                alert('浏览器不支持')
            }
        };
        document.getElementById("searchbtn2").onclick=function () {
            //这里是高级搜索功能。
            if(window.localStorage) {
                var  myselect=7;
                var keyword = document.getElementById("data2search_result1").value;
                var keyword2 = document.getElementById("data2search_result2").value;
                var keyword3 = document.getElementById("data2search_result3").value;
                //alert(keyword2);
                localStorage.value = keyword;
                location.href = "../Search_result?keyword="+keyword+"&keyword2="+keyword2+"&keyword3="+keyword3+"&type="+myselect;
            }else{
                alert('浏览器不支持')
            }
        }
    })
</SCRIPT>
</body>
</html>