<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学者发现系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#select").click(function () {

            })

        })
    </script>
</head>
<body>
    <div class="head">
        <div>
            <img class="headimage" src="../static/images/left-logo.png" alt>
        </div>
        <div>
            <button type="button" class="btn btn-info btn-default btnfeedback" title="点击反馈">反馈问题</button>
        </div>
    </div>
    <div class = "inputcontainer">
        <div><image class="globalid" src="../static/images/globalID.png"></image></div>
        <div class="input">
            <select name="search_type" class="select" id="select_type">
                    <option value="1">学者姓名</option>
                    <option value="2">学者专业</option>
                    <option value="3">学者学校</option>
                    <option value="4">研究方向</option>
            </select>
            <input type="text" class="input1" placeholder="请输入关键字">
            <button type="button" id="searchbtn"  class="btn btn-info btn-default btnsearch">搜索</button>
        </div>
        <div class="record">
            <p>
                <a class="recordname">杨振宁</a>
                <a class="recordname">屠呦呦</a>
                <a class="recordname">饶毅</a>
                <a class="recordname">葛均波</a>
                <a class="recordname">张建平</a>
                <a class="recordname">贾伟平</a>
                <a class="recordname">王拥军</a>
                <a class="recordname">于吉红</a>
                <a class="recordname">黄晓军</a>
            </p>
        </div>
    </div>
    <div class="inner">
            <div class="schools">
                <span class="schoolhead">
                    <img class="schoolheadimage" src="../static/images/china.png" alt>
                    <h3 class="schoolheadtitle">中国985+研究所+港澳台</h3>
                </span>
                <div class="schoolnames">
                    <table class="table table-hover table-striped">
                        {% for li_985 in list_985 %}
                            {% if loop.index%5 == 0 %}
                                <td>{{ li_985 }}</td>
                                <tr></tr>
                            {% else %}
                                <td>{{ li_985}}</td>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="schools">
                <span class="schoolhead">
                    <img class="schoolheadimage" src="../static/images/china.png" alt>
                    <h3 class="schoolheadtitle">中国211+其他</h3>
                </span>
                <div class="schoolnames">
                    <table class="table table-hover table-striped">
                        {% for li_211 in list_211 %}
                            {% if loop.index%5 == 0 %}
                                <td>{{ li_211 }}</td>
                                <tr></tr>
                            {% else %}
                                <td>{{ li_211}}</td>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="schools" >
                <span class="schoolhead">
                    <img class="schoolheadimage" src="../static/images/US.png" alt>
                    <h3 class="schoolheadtitle">U.S.</h3>
                </span>
                <div class="schoolnames">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td>清华大学</td>
                            <td>北京大学</td>
                            <td>浙江大学</td>
                            <td>山东大学</td>
                            <td>同济大学</td>
                        </tr>
                        <tr>
                            <td>清华大学</td>
                            <td>北京大学</td>
                            <td>浙江大学</td>
                            <td>山东大学</td>
                            <td>同济大学</td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    <!--3.3号柏为民添加。主要是给button加上链接，即实现从首页搜索跳转到搜索结果-->
    <SCRIPT LANGUAGE="JavaScript">
            document.getElementById("searchbtn").onclick=function () {
                if(window.localStorage) {
                    var  myselect=document.getElementById("select_type").value;
                    var keyword = document.getElementById("data2search_result").value;
                    localStorage.value = keyword;
                    location.href = "../Search_result?keyword="+keyword+"&type="+myselect;
                }else{
                    alert('浏览器不支持')
                }
            }
    </SCRIPT>
</body>
</html>